.team {
  background-color: white;

  .team {
    color: black;
    padding: 4rem 5rem 1rem;

    &-content {
      max-width: 1000px;
      margin: 6rem auto 0rem;

      h1 {
        color: black;
        font-weight: 500;
        font-size: 42px;
      }

      h2 {
        color: black;
        font-weight: 300;
        font-size: 20px;
        letter-spacing: 4px;
        margin-top: 1rem;
      }
    }

    &-photos {
      max-width: 1200px;
      margin: 4rem auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start; /* Alinea las imágenes a la izquierda */
      gap: 20px; /* Espacio entre las imágenes */
      text-align: left;

      .image-container {
        flex: 0 0 calc(20% - 20px); /* 5 columnas con espacio */
        display: flex;
        flex-direction: column;
        align-items: center; /* Alinea todo el contenido (imagen y texto) al centro */
        justify-content: center; /* Centra verticalmente el contenido */
    
        img {
         
          height: 100%; /* Asegura que todas las imágenes tengan la misma altura */
          object-fit: cover; /* Recorta la imagen si es necesario para que se ajuste al contenedor */
        }

      }

      

      .team-photos__item {
        width: 100%;/* Hace que el contenedor del texto tenga el mismo ancho que la imagen */
        text-align: left; /* Alinea el texto a la izquierda */
      }

      h3 {
        color: black;
        font-size: 24px;
        margin-top: 10px; /* Espacio entre la imagen y el nombre */
      }

      p {
        color: black;
        font-size: 13px;
     
        margin-top: 5px; /* Espacio entre el nombre y el título */
        padding-bottom: 3.5rem;
    
       
      }

      &__item {
        margin-top: 1.5rem;
        position: relative;

        .contenedor {
          width: 210px; /* Asegura que el contenedor del texto coincida con el ancho de la imagen */
          text-align: left; /* Alinea el texto a la izquierda */
          margin-top: 10px; /* Espacio entre la imagen y el texto */
        }

        .flashlight {
          height: 100%;
          width: 210px;
          position: absolute;
          top: 0px;
          left: 0px;
          background: radial-gradient(circle at -100px -100px, transparent 0%, #0000002e 150px);
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .team {
    .team {
      padding: 4rem 1rem 1rem;

      &-content h1 {
        font-size: 30px;
        padding: 1rem;
      }

      &-content h2 {
        padding: 1rem;
      }

      &-photos {
        margin: 2rem auto;
        justify-content: center; /* Centra las imágenes en dispositivos más pequeños */
      }

      .image-container {
        flex: 0 0 calc(50% - 20px); /* 2 columnas en pantallas pequeñas */
      }
    }
  }
}
